body{
  background-color: #f1f1f1;
}

nav{
  background-color: #303030;
}

nav>a {
  color: white;
  text-decoration: none;
}

table{
  width: 100%
}

thead{
  background-color: black;
  color: white;
}

tr{
  display: flex;
  flex-direction: row;
  border-bottom:1px solid black;
  height: 40px;
  font-size: 20px;
}

th{
  margin-right: 100px;
  text-orientation: left;
  width: 50%;
}

td{
  margin-right: 100px;
  width: 50%;
  text-orientation: left;
}

.th4{
  width: 20%;
}

.td4{
  width: 20%;
}

label{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

input{
  margin-top: 10px;
}

.owner0{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f1f1f1;
}

.owner0 div{
  min-width: 50%;
}
.owner1{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.owner1 div{
  min-width: 50%;
}

.owner0:hover{
  background-color: green;
}

.owner1:hover{
  background-color: green;
}

#owners{
  display: flex;
  flex-direction: column;
}

#owners .title{
  font-weight: bold;
  padding-top: 5px;
}

.pets {
  height: 0px;
  transition: height 1s ease-in-out;
}

.ownerPet:hover .pets{
  height: 100px;
}