body{
  background-color: #f1f1f1;
}

.owner0, .owner1{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.owner0{
  background-color: #f1f1f1;
}

.owner1{
  background-color: #ffffff;
}

.owner0 div, .owner1 div{
  min-width: 50%;
}

.owner0:hover, .owner1:hover{
  background-color: #6db33f
}

#owners{
  display: flex;
  flex-direction: column;
}

#owners .title{
  font-weight: bold;
  padding-top: 5px;
}

.pets {
  overflow: hidden;
  transition: all 1s ease-in-out;
  line-height: 0;
}

.ownerPet:hover .petsInfo{
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 15px;
}

.petsInfo{
  overflow: hidden;
  transition: all 1s ease-in-out;
  line-height: 0;
  display: flex;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0;
}

.pets img{
  overflow: hidden;
  transition: all 1s ease-in-out;
  margin-right: 20px;
  height: 0;
  width: 60px;
}

.ownerPet:hover .pets img {
  height: 60px;
}

.petsInfo span{
  font-weight: bold;
}
